## To allow communication with Traceur that a trace has ended.

on property:sys.trace.trace_end_signal=*
    exec_background u:r:shell:s0 system shell -- /system/bin/sh -c "/system/bin/am start-foreground-service -n com.android.traceur/.StopTraceService"
